<!-- 这里使用 ngIf会在ngAfterViewInit中无法拿到这个dom -->
<!-- <div class="m-layer" *ngIf="showModal" #modalContainer> -->
<!-- 使用下面的 [style.visibility]就可以让getHideDomSize拿到dom了-->
<!-- <div class="m-layer" [style.visibility]="showModal ? 'visible' : 'hidden'" #modalContainer> -->
<div class="m-layer"
    #modalContainer
    [@showHide]="showModal"
>
        <div class="zbar">
        <div class="zttl f-thide">这是标题</div>
    </div>

    <!-- 这里要一个插槽，因为可能注册，可能登录，所以由外部来决定 -->
    <ng-content></ng-content>

    <div class="zcls" title="关闭" (click)="hide()"></div>
</div>
