<!-- 这里使用 ngIf会在ngAfterViewInit中无法拿到这个dom -->
<!-- <div class="m-layer" *ngIf="showModal" #modalContainer> -->
<!-- 使用下面的 [style.visibility]就可以让getHideDomSize拿到dom了-->
<!-- <div class="m-layer" [style.visibility]="showModal ? 'visible' : 'hidden'" #modalContainer> -->

<!-- 通过 angular cdk来限定拖拽范围 https://material.angular.io/cdk/drag-drop/overview#restricting-movement-within-an-element-->
<!--  .cdk-overlay-container 是通过 ts 文件中ngAfterViewInit中console来找到的-->
<div class="m-layer"
    #modalContainer
    [@showHide]="showModal"
    cdkDrag
    cdkDragBoundary=".cdk-overlay-container"
>
        <div class="zbar" cdkDragHandle>
        <div class="zttl f-thide">{{modalTitle[currentModalType]}}</div>
    </div>

    <!-- 这里要一个插槽，因为可能注册，可能登录，所以由外部来决定 -->
    <!-- 因为需要显示不同的内容，所以这里写成 ng-container -->
    <!-- 外面一层判断是哪一种mode ， 具体的类型可以参考member.reducer.ts中的enum ModalTypes定义-->
    <!-- 所以是通过 ngSwitch来切换组件 -->
    <ng-container [ngSwitch]="currentModalType">
        <!-- 如果currentModalType是loginByPhone的时候 -->
        <ng-container *ngSwitchCase="'loginByPhone'">
            <ng-content select="[name=login]"></ng-content>
        </ng-container>

        <!-- 如果currentModalType是register的时候 这里已经准备好了-->
        <ng-container *ngSwitchCase="'register'">
            <ng-content select="[name=register]"></ng-content>
        </ng-container>

        <ng-container *ngSwitchCase="'like'">
            <ng-content select="[name=like]"></ng-content>
        </ng-container>

        <ng-container *ngSwitchCase="'share'">
            <ng-content select="[name=share]"></ng-content>
        </ng-container>

        <!-- 否则的话显示的是default -->
        <ng-container *ngSwitchDefault>
            <ng-content ></ng-content>
        </ng-container>
    </ng-container>

    <!-- <ng-content></ng-content> -->

    <div class="zcls" title="关闭" (click)="hide()"></div>

    <!-- 加入一个loading的图标 -->
    <nz-spin nzTip="loading..." class="spin" *ngIf="showSpin"></nz-spin>
</div>
