<ng-container>
    <a class="cover">
        <!-- Cover Picture -->
        <img [src]="coverImg" [alt]="sheet.name" />
        <div class="bottom">
            <div class="num">
                <i class="icon erji"></i>
                <!-- 播放量 -->
                <span>{{ sheet.playCount | playCount }}</span>
            </div>
            <!-- Play button -->
            <i class="icon play" (click)="playSheet(sheet.id)"></i>
        </div>
    </a>
    <span class="dec">{{ sheet.name }}</span>
    <!-- <i nz-icon nzType="step-forward" nzTheme="outline"></i> -->
    <!-- <i nz-icon style="z-index: 999; color:aliceblue" nzType="play-circle" nzTheme="outline" (click)="playSheet(sheet.id)">P</i> -->
</ng-container>


<!--

The Angular <ng-container> is a grouping element that doesn't interfere
    with styles or layout because Angular doesn't put it in the DOM.

The <ng-container> is a syntax element recognized by the Angular parser.
    It's not a directive, component, class, or interface.
    It's more like the curly braces in a JavaScript if-block:

  if (someCondition) {
      statement1;
      statement2;
      statement3;
     }
Without those braces, JavaScript would only execute the first statement
when you intend to conditionally execute all of them as a single block.
The <ng-container> satisfies a similar need in Angular templates.

-->
