<div class="cnzt">
    <div class="select-log">
        <div class="mid-wrap">
            <div class="pic">
                <img src="../../../../../assets/images/platform.png" alt="">
            </div>
            <div class="methods">
                <!-- nzBlock是为了让这个成为块级元素 -->
                <!-- 这里emit的值是参考 member.reducer.ts中enum ModalTypes来进行取值的 -->
                <button nz-button nzType="primary" nzSize="large" nzBlock (click)="onChangeModalType.emit('loginByPhone')">手机号登录</button>
                <button nz-button nzType="primary" nzSize="large" nzBlock (click)="onChangeModalType.emit('register')">注册</button>
            </div>
        </div>
    </div>
</div>
