<div id="app">

    <!-- 加载的进度条 -->
    <nz-progress *ngIf="loadPercent < 100" nzStrokeWidth="5" [nzShowInfo]="false" nzStatus="active" [nzPercent]="loadPercent"></nz-progress>

    <nz-layout class="layout">
        <nz-header class="header">
            <div class="wrap">
                <div class="left">
                    <h1>Music</h1>
                    <ul nz-menu nzTheme="dark" nzMode="horizontal">
                        <li nz-menu-item *ngFor="let item of menu" [nzSelected]="routeTitle === item.label" routerLink="{{item.path}}">{{item.label}}</li>
                    </ul>
                </div>

                <div class="right">
                    <!-- Search -->
                    <!-- 直接建立一个 wy-search 组件 -->
                    <app-wy-search (onSearch)="onSearch($event)" [searchResult]="searchResult"></app-wy-search>
                    <!-- <div class="search"> -->
                        <!-- here the suffixIconSearch must be with ng-template, 因为nzSuffix必须接受一个TemplateRef类型的值 -->
                        <!-- 而nzSuffix就是在输入框后加图标的一个API， https://ng.ant.design/components/input/zh -->
                        <!-- <nz-input-group nzSuffixIcon="search"> -->
                        <!-- <nz-input-group [nzSuffix]="suffixIconSearch">
                                <input
                                type="text"
                                nz-input
                                placeholder="List/Singer/Song"
                            />
                        </nz-input-group> -->

                        <!-- 上面直接使用[nzSuffixIcon]就可以不用这一段了 -->
                        <!-- to display the search icon -->
                        <!-- 这里使用ng-template同样是因为nzSuffix是 TemplateRef类型 -->
                        <!-- <ng-template #suffixIconSearch>
                            <i nz-icon nzType="search"></i>
                        </ng-template> -->

                    <!-- </div> -->

                    <div class="member">
                        <!-- 没有登录的状态 -->
                        <div class="no-login" *ngIf="!user else logined">
                            <ul nz-menu nzTheme="dark" nzMode="horizontal">
                                <li nz-submenu>
                                    <div title>
                                        <span>登录</span>
                                        <i
                                            nz-icon
                                            nzType="down"
                                            nzTheme="outline"
                                        ></i>
                                    </div>
                                    <ul>
                                        <li nz-menu-item (click)="openModal('loginByPhone')">
                                            <i
                                                nz-icon
                                                nzType="mobile"
                                                nzTheme="outline"
                                            ></i>
                                            手机登录
                                        </li>
                                        <li nz-menu-item (click)="openModal('register')">
                                            <i
                                                nz-icon
                                                nzType="user-add"
                                                nzTheme="outline"
                                            ></i>
                                            注册
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <ng-template #logined>
                            <!-- 登录的状态和要显示的内容 -->
                            <div class="login">
                                <ul nz-menu nzMode="horizontal" nzTheme="dark">
                                    <li nz-submenu>
                                        <div title>
                                            <nz-avatar nzIcon="user" [nzSrc]="user.profile.avatarUrl"></nz-avatar>
                                            <i nz-icon nzType="down" nzTheme="outline"></i>
                                        </div>
                                        <ul>
                                            <li nz-menu-item [routerLink]="['/member', user.profile.userId]">
                                                <i nz-icon nzType="user" nzTheme="outline"></i>我的主页
                                            </li>
                                            <!-- 退出的选项 -->
                                            <li nz-menu-item (click)="onLogout()">
                                                <i nz-icon nzType="close-circle" nzTheme="outline"></i>退出
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </ng-template>

                    </div>
                </div>
            </div>
        </nz-header>

        <!-- 中间的内容 轮播图，16张专辑，右边的9张热门歌手 -->
        <!-- 这里通过routing 来引入进了 home.component -->
        <nz-content class="content">
            <router-outlet></router-outlet>
        </nz-content>

        <nz-footer class="footer">
            Ant Design ©2019 Implemented by Angular @ Puddlejumper26 | 2020
        </nz-footer>
    </nz-layout>
</div>

<!-- 最下面的播放器组件 -->
<!-- 这里通过组件件的import引入了 wy-player component -->
<app-wy-player></app-wy-player>

<!-- 登录弹窗的socket -->
<app-wy-layer-modal
    (onLoadMySheets)="onLoadMySheets()"
    [visible]="visible"
    [currentModalType]="currentModalType"
    [showSpin]="showSpin"
>
    <app-wy-layer-login
        name="login"
        [wyRememberLogin] = "wyRememberLogin"
        (onChangeModalType)="onChangeModalType($event)"
        (onLogin)="onLogin($event)"
        [visible]="visible"
    ></app-wy-layer-login>

    <app-wy-layer-like
        name='like'
        [mySheets]="mySheets"
        [likeId] = "likeId"
        (onLikeSong)="onLikeSong($event)"
        (onCreateSheet)="onCreateSheet($event)"
        [visible]="visible"
    ></app-wy-layer-like>

    <app-wy-layer-share
        name="share"
        [shareInfo]="shareInfo"
        (onCancel)="closeModal()"
        (onShare)="onShare($event)"
        [visible]="visible"
    ></app-wy-layer-share>

    <app-wy-layer-register
        name="register"
        [visible]="visible"
        (onChangeModalType)="onChangeModalType($event)"
        (onRegister)="onRegister($event)"
    ></app-wy-layer-register>

    <app-wy-layer-default (onChangeModalType)="onChangeModalType($event)"></app-wy-layer-default>
</app-wy-layer-modal>

<nz-back-top [nzTemplate]="tpl">
    <ng-template #tpl>
        <div class="ant-back-top-inner">
            <button nz-button nzType="primary" nzSize="large">
                <i nz-icon nzType="to-top" nzTheme="outline"></i>
            </button>
        </div>
    </ng-template>

</nz-back-top>
