<div id="app">
    <nz-layout class="layout">
        <nz-header class="header">
            <div class="wrap">
                <div class="left">
                    <h1>Music</h1>
                    <ul nz-menu nzTheme="dark" nzMode="horizontal">
                        <li nz-menu-item *ngFor="let item of menu" routerLink="{{item.path}}">{{item.label}}</li>
                    </ul>
                </div>

                <div class="right">
                    <!-- Search -->
                    <!-- 直接建立一个 wy-search 组件 -->
                    <app-wy-search (onSearch)="onSearch($event)"></app-wy-search>
                    <!-- <div class="search"> -->
                        <!-- here the suffixIconSearch must be with ng-template, 因为nzSuffix必须接受一个TemplateRef类型的值 -->
                        <!-- 而nzSuffix就是在输入框后加图标的一个API， https://ng.ant.design/components/input/zh -->
                        <!-- <nz-input-group nzSuffixIcon="search"> -->
                        <!-- <nz-input-group [nzSuffix]="suffixIconSearch">
                                <input
                                type="text"
                                nz-input
                                placeholder="List/Singer/Song"
                            />
                        </nz-input-group> -->

                        <!-- 上面直接使用[nzSuffixIcon]就可以不用这一段了 -->
                        <!-- to display the search icon -->
                        <!-- 这里使用ng-template同样是因为nzSuffix是 TemplateRef类型 -->
                        <!-- <ng-template #suffixIconSearch>
                            <i nz-icon nzType="search"></i>
                        </ng-template> -->

                    <!-- </div> -->

                    <div class="member">
                        <div class="no-login">
                            <ul nz-menu nzTheme="dark" nzMode="horizontal">
                                <li nz-submenu>
                                    <div title>
                                        <span>登录</span>
                                        <i
                                            nz-icon
                                            nzType="down"
                                            nzTheme="outline"
                                        ></i>
                                    </div>
                                    <ul>
                                        <li nz-menu-item>
                                            <i
                                                nz-icon
                                                nzType="mobile"
                                                nzTheme="outline"
                                            ></i>
                                            手机登录
                                        </li>
                                        <li nz-menu-item>
                                            <i
                                                nz-icon
                                                nzType="user-add"
                                                nzTheme="outline"
                                            ></i>
                                            注册
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nz-header>

        <!-- 中间的内容 轮播图，16张专辑，右边的9张热门歌手 -->
        <!-- 这里通过routing 来引入进了 home.component -->
        <nz-content class="content">
            <router-outlet></router-outlet>
        </nz-content>

        <nz-footer class="footer">
            Ant Design ©2019 Implemented by Angular @ Puddlejumper26 | 2020
        </nz-footer>
    </nz-layout>
</div>

<!-- 最下面的播放器组件 -->
<!-- 这里通过组件件的import引入了 wy-player component -->
<app-wy-player></app-wy-player>
