<div class="home">
    <app-wy-carousel #wyCarousel [activeIndex]="carouselActiveIndex" (changeSlide)="onChangeSlide($event)">
        <!-- set auto play and fade in and fade out effects -->
        <!-- https://ng.ant.design/components/carousel/zh  (nzBeforeChange)切换面板的回调		-->
        <nz-carousel
            nzAutoPlay
            nzEffect="fade"
            [nzDotRender]="wyCarousel.dotRef"
            (nzBeforeChange)="onBeforeChange($event)">

            <div class="carousel-item" nz-carousel-content *ngFor="let item of banners">
                <a [href]="item.url" target="_blank" class="banner-item">
                    <img [src]="item.imageUrl">
                </a>
            </div>
        </nz-carousel>
    </app-wy-carousel>
</div>