<div class="carousel">
    <div class="wrap">
        <!-- add left arrow -->
        <i
            nz-icon
            class="arrow left"
            nzType="left"
            nzTheme="outline"
            (click)="onChangeSlide('pre')"
        ></i>

        <!-- 这里用来展示Banner，大的图片的 -->
        <ng-content></ng-content>

        <!-- add dot , number 是当前的索引-->
        <ng-template #dot let-number>
            <i class="dot" [class.active]="activeIndex === number"></i>
        </ng-template>

        <!-- add right arrow -->
        <i
            nz-icon
            class="arrow right"
            nzType="right"
            nzTheme="outline"
            (click)="onChangeSlide('next')"
        ></i>
    </div>
</div>
