<!-- 下面的showHide 都是指的同一个在wy-player.component.ts的animations中trigger中定义的 -->
<div class="m-player"
    appClickoutside
    [bindFlag]="bindFlag"
    (onClickOutSide)="onClickOutSide($event)"
    [@showHide]="showPlayer"
    (mouseenter)="togglePlayer('show')"
    (mouseleave)="togglePlayer('hide')"
    (@showHide.start)="animating = true"
    (@showHide.done)="onAnimateDone($event)"
>
<!--上面的div中因为onClickOutSide的加入所以可以删除 (click)="selfClick = true" -->

    <div class="lock" (click)="isLocked=!isLocked">
        <div class="left"><i [class.locked]="isLocked"></i></div>
    </div>
    <!-- hand点击，整体就出现 -->
    <div class="hand"></div>
    <div class="container">
        <div class="wrap">
            <div class="btns">
                <i class="prev" (click)="onPrev(currentIndex-1)"></i>
                <!-- 这里通过当playing是true的情况下，就加上一个playing的class就转换成暂停的图标了 -->
                <i class="toggle" [class.playing]="playing" (click)="onToggle()"></i>
                <i class="next" (click)="onNext(currentIndex+1)"></i>
            </div>

            <div class="head">
                <img [src]="picUrl" alt="" />
                <!-- 这里写成 currentSong && currentSong.id 是为了兼容，不然没有歌曲点击这里会console报错id不存在 -->
                <i class="mask" (click)="toInfo(['/songInfo', currentSong && currentSong.id])" ></i>
            </div>

            <div class="play">
                <!-- 就是歌曲和歌手名字 -->
                <div class="words clearfix">
                    <p class="ellipsis margin-bottom-none" (click)="toInfo(['/songInfo', currentSong && currentSong.id])" >{{ currentSong?.name}}</p>
                    <ul class="songs clearfix margin-bottom-none">
                        <!-- 注意这里 last as isLast， 这样 / 在最后 -->
                        <li *ngFor="let item of currentSong?.ar, last as isLast">
                            <a (click)="toInfo(['/singer', item.id])">{{item.name}}</a>
                             <!-- 下面这种方法也可以 -->
                            <!-- <a [routerLink]="['/singer', item.id]">{{item.name}}</a> -->
                            <span [hidden]="isLast">/</span>
                        </li>
                    </ul>
                </div>

                <!-- 进度条 -->
                <div class="bar">
                    <div class="slider-wrap">
                        <!-- ngModelChange 会返回滚动条 的 百分比  下面直接用 ngModelChange会导致推动滑块的时候会即时跳到滑块所在的位置播放，效果不好-->
                        <!-- 所以通过wyOnAfterChange来改善,这样在拖动滑块的时候，播放不会停止，只有当鼠标拖动结束的时候，才开始按照这个结束的位置开始更新播放 -->
                        <!-- <app-wy-slider [bufferOffset]="bufferPercent" [(ngModel)]='percent' (ngModelChange)="onPercentChange($event)"></app-wy-slider> -->
                        <app-wy-slider [bufferOffset]="bufferPercent" [(ngModel)]='percent' (wyOnAfterChange)="onPercentChange($event)"></app-wy-slider>
                    </div>
                    <!-- 歌曲的时间 -->
                    <span class="time"> <em>{{currentTime | formatTime}} </em> / {{duration | formatTime}} </span>
                </div>
            </div>

            <!-- 右边的几个小的图标 -->
            <div class="oper">
                <i class="like" title="收藏"></i>
                <i class="share" title="分享"></i>
            </div>
            <div class="ctrl">
                <i class="volume" title="音量" (click)="toggleVolPanel()"></i>
                <!-- 播放模式的图标，随着点击会有三种变化 -->
                <!-- 这里都是动态的绑定，随着后面changeMode()带来的变化，而改变currentMode.type和currentMode.label -->
                <i [ngClass]="currentMode.type" [title]="currentMode.label" (click)="changeMode()"></i>
                <!-- 展开播放面板的按钮 -->
                <!-- nzOverlayClassName 用来增加一个class来深化背景颜色 -->
                <p nz-tooltip [nzTooltipTitle]="controlTooltip.title" [nzVisible]="controlTooltip.show" nzOverlayClassName="tip-bg" class="open" (click)="toggleListPanel()">
                    <span></span>
                </p>

                <!-- volumn control  这里[wyVertical]="true" 让组件垂直-->
                <div class="control-vol" [hidden]="!showVolumnPanel">
                    <!-- <app-wy-slider [wyVertical]="true" [(ngModel)]="volumn" (ngModelChange)="onVolumnChange($event)"></app-wy-slider> -->
                    <!-- 这里如果用ngModelChange进行绑定的话，那么就无法和这里的volumn进行绑定，那么在ts中的volumn的初始值设定就无法体现在音量上，仅仅只能体现在模板的显示上 -->
                    <app-wy-slider [wyVertical]="true" [(ngModel)]="volumn" (wyOnAfterChange)="onVolumnChange($event)"></app-wy-slider>
                </div>
            </div>

            <!--                 [currentIndex]="currentIndex" 从下面的组件里移除 -->
            <!-- Playlist and lyrics -->
            <app-wy-player-panel
                [playing] = 'playing'
                [songList]="songList"
                [currentSong]="currentSong"
                [show]="showPanel"
                (onClose)="showPanel=false"
                (onChangeSong)="onChangeSong($event)"
                (onDeleteSong)="onDeleteSong($event)"
                (onClearSong)="onClearSong($event)"
                (onToInfo)="toInfo($event)"
            ></app-wy-player-panel>

        </div>
    </div>

    <!-- Add audio to play songs -->
    <!-- 当currentTime更新时会触发timeupdate事件, 用来更新上面当前播放的秒数 -->
    <audio
        #audio
        [src]="currentSong?.url"
        (canplay)="onCanPlay()"
        (timeupdate) ="onTimeUpdate($event)"
        (ended)="onEnded()"
    ></audio>
</div>
